{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "AllowedHosts": "*",
  "AllowedOrigins": "http://localhost:5173,http://127.0.0.1:5173",
  "Spotify": {
    "ClientId": "YOUR_SPOTIFY_CLIENT_ID",
    "ClientSecret": "YOUR_SPOTIFY_CLIENT_SECRET",
    "RedirectUri": "http://127.0.0.1:8080/api/spotify/callback"
  },
  "YouTube": {
    "ApiKey": "YOUR_YOUTUBE_API_KEY"
  }
}